@using MyBlazor.Shared.DataClass
@inject StateContainer stateContainer
<table class="table table-striped" style="width:auto; text-align:center">
    <thead>
        <tr  style="font-weight: bold">
            <td>name</td>
            <td>index</td>
            <td>state</td>
            <td>next available time</td>
        </tr>
    </thead>
	@foreach(MachineData machineData in machineDatas)
	{
		<tr>
			<td>@machineData.machineName</td>
            <td>@machineData.index</td>
            <td>
                <span class="@statusToIcon(machineData.nextAvailableTime)"></span>
            </td>
            <td>@machineData.nextAvailableTime.ToString("yyyy/MM/dd hh:mm")</td>
		</tr>
	}
</table>

@code {
    private List<MachineData> machineDatas { get; set; } = new List<MachineData>();

    protected override Task OnInitializedAsync()
    {
        machineDatas = stateContainer.GetMachineData();
        return base.OnInitializedAsync();
    }

    private string statusToIcon(DateTime nextAvailable)// green:available red:unavailable white:null
    {
        string res = "";
        switch (nextAvailable<=DateTime.Now)
        {
            case true:
                res = "oi oi-media-play";
                break;
            case false:
                res = "oi oi-media-stop";
                break;
            default:
                res = "oi oi-question-mark";
                break;
        }
        return res;
    }

}
