
@using BlazorInputFile

<table class="table is-bordered">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				<SelectExcelFile labelName="Machine Data"></SelectExcelFile>
			</th>
		</tr>
		<tr>
			<th>
				<SelectExcelFile labelName="Machine Data2"></SelectExcelFile>
			</th>
		</tr>
	</tbody>
</table>

@code {
	private void ImportFile()
	{
		
	}

}
