@page "/scheduling"
@inject IJSRuntime JsRuntime
<h3>Schdualing Page</h3>
<MyGanttChart woinfos=@a></MyGanttChart>

@code {

	private List<WoInfo> a = new List<WoInfo>();
	protected override void OnInitialized()
	{
		a.Add(new WoInfo("wo1", "m1", 0, 4));
		a.Add(new WoInfo("wo2", "m2", 9, 10));
		a.Add(new WoInfo("wo3", "m3", 0, 10));
	}
}