<table>
	<tbody>
		<tr>
			@for(int i = start; i< end; i++)
			{
				<td  class="border-top-0" style="height:10px" ></td>
			}
		</tr>
		<tr>
			@for(int i = start; i< end; i++)
			{
				<td class="border-bottom-0" style="height:10px; text-align: center; vertical-align: top">@i</td>
			}
		</tr>
	</tbody>
</table>

@code {

	[Parameter]
	public int start { get; set; } = 0;
	[Parameter]
	public int end { get; set; } = 0;

}
