<table>
	<tbody>
		<tr>
			@for(int i = start; i< end; i++)
			{
				<td>
				<TimeLinePoint pointText=@i.ToString()></TimeLinePoint>
				</td>
			}
		</tr>
	</tbody>
</table>

@code {

	[Parameter]
	public int start { get; set; } = 0;
	[Parameter]
	public int end { get; set; } = 0;

}
