<table>
	<tr>
	@for(int i = 0; i<hourInterval; i++)
	{
		<td class="border-top-0" style="border:dashed; color:gray"></td>
	}
	</tr>
	<tr>
	@for(int i = 1; i<=hourInterval; i++)
	{

		<td class="border-0" style="position:relative;transform:translateX(50%)">
			<TimeLinePoint pointText="@start.AddHours(i).ToString("MM/dd HH")"></TimeLinePoint>
		</td>
	}
	</tr>
</table>

@code {

	[Parameter]
	public DateTime start { get; set; } = DateTime.Now;
	[Parameter]
	public DateTime end { get; set; } = DateTime.Now;
	private int hourInterval = 0;
	protected override void OnParametersSet()
	{
		hourInterval = (end - start).Hours;
	}

}
