<button type="button" class="btn btn-primary" data-toggle="tooltips" title="@toolTipsString" style="position:relative; margin-left:@startPositionPercent%; width:@widthPercent%">
	@wo
</button>





@code {
	[Parameter]
	public string wo { get; set; } = "";
	[Parameter]
	public DateTime startTime { get; set; } = DateTime.Now;
	[Parameter]
	public DateTime endTime { get; set; } = DateTime.Now;
	[Parameter]
	public float startPositionPercent{ get; set; } = 0.0f;
	[Parameter]
	public float widthPercent{ get; set; } = 0.0f;
	public String toolTipsString { get; set; } = "";

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		toolTipsString = "start: " + startTime.ToString("MM/dd HH:mm") + "\n" + "end: " + endTime.ToString("MM/dd HH:mm");
	}
}
