<button class="button is-outlined @statusStyle" data-toggle="tooltips" title="@toolTipsString" style="position:relative; margin-left:@startPositionPercent%; width:@widthPercent%">
	@wo
</button>





@code {
	[Parameter]
	public int woStatus { get; set;}
	[Parameter]
	public string wo { get; set; } = "";
	[Parameter]
	public DateTime startTime { get; set; } = DateTime.Now;
	[Parameter]
	public DateTime endTime { get; set; } = DateTime.Now;
	[Parameter]
	public float startPositionPercent{ get; set; } = 0.0f;
	[Parameter]
	public float widthPercent{ get; set; } = 0.0f;

	public string toolTipsString { get; set; } = "";

	private string statusStyle = "";

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		SetToolTips();
		SetStatusStyle(woStatus);
	}
	private void SetToolTips()
	{
		toolTipsString = "start: " + startTime.ToString("MM/dd HH:mm") + "\n" + "end: " + endTime.ToString("MM/dd HH:mm");
	}
	private void SetStatusStyle(int statusBit)
	{
		switch (statusBit)
		{
			case 0:
				statusStyle = "is-primary is-light";
				break;
			case 1:
				statusStyle = "is-danger is-light";
				break;
			default:
				break;
		}
	}
}
