<div  class="container" style="align-items:center">
    <label style="text-align:center; align-items:center; width:100%">@pointText</label>
</div>

@code {
	[Parameter]
	public String pointText { get; set; } = "";


}
